// Place all the styles related to the Websites::Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editor {
  display: flex;
  height: 80vh;
  width: 100%;

  &--source {
    flex: 50%;
    textarea {
      width: 100%;
      height: 100%;
      display:block;
    }
  }
  &--preview {
    flex: 50%;
    iframe {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
