%h2 Editing #{@resource.request_path}

-if @resource.errors.any?
  %h3 Errors
  %ul
    -@resource.errors.full_messages.each do |message|
      %li= message

=link_to "View", [@website, @resource]
\|
=link_to "Back to pages", website_resources_path(@website)

.editor
  .editor--source
    =form_for [@website, @resource] do |f|
      =f.text_area :source, rows: 40
      =f.submit "Save"
  .editor--preview
    %iframe{src: preview_website_resource_path(@website, @resource)}